<div *ngIf="currentCheckoutState === checkoutState.CONFIRM_DETAILS">
  <bs-checkout-details [customer]="customer"></bs-checkout-details>
  <button (click)="confirmDetails()" class="btn btn-primary">Confirm</button>
</div>

<div *ngIf="currentCheckoutState === checkoutState.CONFIRM_ORDER">
  <bs-checkout-order [order]="purchaseOrder"></bs-checkout-order>
  <button (click)="confirmOrder()" class="btn btn-primary">Send Order</button>
</div>

<div *ngIf="currentCheckoutState === checkoutState.FINISHED">
  <bs-checkout-confirm></bs-checkout-confirm>
  <a [routerLink]="['/']" class="btn btn-primary">Continue shopping ...</a>
</div>
