<h3>Confirm Delivery & Payment Details</h3>

<div class="card">
  <div class="card-block">
    <h6 class="card-title">Address:</h6>
    <div class="d-flex justify-content-start">
      <div class="p-2">
        {{customer.firstName}} {{customer.lastName}}
        <br>
        {{customer.address.street}}
        <br>
        {{customer.address.postalCode}} {{customer.address.city}}
        <br>
        {{customer.address.country}}
      </div>
      <div class="ml-auto p-2">
        <a [routerLink]="['/account/edit']" class="btn btn-secondary float-xs-right">
          Change
        </a>
      </div>
    </div>
  </div>

  <div class="card-block">
    <h6 class="card-title">Credit Card:</h6>

    <div class="d-flex justify-content-start">
      <div class="p-2">
        {{customer.creditCard.type}}
        <br>
        {{customer.creditCard.number}}
        <br>
        {{customer.creditCard.expirationMonth}}/{{customer.creditCard.expirationYear}}

      </div>
    </div>

  </div>

</div>
