<h2>Catalog Search</h2>
<p></p>
<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Keyword</label>
    <input #term type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
           placeholder="Enter search term">
  </div>
  <button (click)="search(term.value)" class="btn btn-primary">Search</button>
</form>

<div *ngIf="results" class="bs-search-result">
  <h4>Result:</h4>

  <div class="list-group">
    <li *ngFor="let result of results | async" class="list-group-item bs-search-result-item">
      {{result.title}}
      <div class="float-sm-right">
        <span>{{result.price | currency}}</span>
        <button  class="btn">
          Add to Cart
        </button>

      </div>
    </li>
  </div>
</div>
