<h2>Catalog Search</h2>
<p></p>
<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Keyword</label>
    <input #term type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
           placeholder="Enter search term">
  </div>
  <button (click)="search(term.value)" class="btn btn-primary">Search</button>
</form>

<div *ngIf="results" class="bs-search-result">
  <h4>Result:</h4>

  <table class="table">
    <thead>
    <tr>
      <th>Title</th>
      <th>Price</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let result of results" >
      <th>{{result.title}}</th>
      <td>{{result.price | currency}}</td>
      <td>
        <button class="btn" (click)="addToCart(result)">
        Add to Cart
        </button>
      </td>
    </tr>
    </tbody>
  </table>

</div>
