<h2>Catalog Search</h2>
<p></p>
<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Keyword</label>
    <input #term type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
           placeholder="Enter search term">
  </div>
  <button (click)="search(term.value)" class="btn btn-primary">Search</button>
</form>

<div *ngIf="results" class="bs-search-result">
  <h4>Result:</h4>

  <div class="list-group">
    <div *ngFor="let result of results | async" class="list-group-item bs-search-result-item">
      <div class="row">
        <div class="col-xs-8">
          <p>{{result.title}}</p>
        </div>
        <div class="col-xs-4">
          <div class="float-sm-right">
            <span>{{result.price | currency}}</span>
            <button class="btn" (click)="addToCart(result)">
              Add to Cart
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
