<div class="row">
  <div class="col-xs-8">
    <h5>{{item.bookInfo.title}}</h5>
    ISBN: {{item.bookInfo.isbn}},
    Price: {{item.bookInfo.price | currency}}
  </div>
  <div class="col-xs-2">
    <div class="float-xs-right">
      <button *ngIf="!readonly" (click)="item.decreaseQuantity()" class="btn btn-sm">-</button>
      <span>{{item.quantity}}</span>
      <button *ngIf="!readonly" (click)="item.increaseQuantity()" class="btn btn-sm">+</button>
    </div>
  </div>
  <div class="col-xs-2">
    <div class="float-xs-right">
      <span>{{item.bookInfo.price * item.quantity | currency}}</span>
    </div>
  </div>
</div>
