<nav class="navbar navbar-light bg-faded">
  <a [routerLink]="['']" class="navbar-brand" href="#">
    <img src="/assets/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    ng-Bookstore
  </a>
  <div class="nav navbar-nav">
    <a [routerLink]="['catalog']" [routerLinkActive]="['active']" class="nav-item nav-link" href="#">
      Catalog
    </a>
    <a [routerLink]="['cart']" [routerLinkActive]="['active']" class="nav-item nav-link" href="#">
      Shopping Cart
      <span *ngIf="getCartItemCount() > 0">
        ({{getCartItemCount()}})
      </span>
    </a>
    <a [routerLink]="['account']" [routerLinkActive]="['active']" class="nav-item nav-link" href="#">
      Account
    </a>
  </div>
  <div class="float-lg-right">
    <i><a *ngIf="authService.isLoggedIn()" class="nav-item">Logged in as: {{authService.getLogin()?.email}}</a></i>
    <button class="btn btn-outline-primary" *ngIf="authService.isLoggedIn()" (click)="authService.logout()">Logout</button>
    <button class="btn btn-outline-primary" *ngIf="!authService.isLoggedIn()" (click)="goToLogin()">Login</button>
  </div>
</nav>
